* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    --color-primary: #5DB2FF;
    --color-buttons: #37EBED;
    --color-nav: #2C2C2C;
    --color-font: #2C2C2F;

}

.btn {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    padding: 20px 33px;
    border-radius: 7px;
    letter-spacing: 3px;
    cursor: pointer;
}

.plan__header--first {
    background-color: #E9F4FD;
}

.plan__header--second {
    background-color: #FEF4EE;
}

.plan__header--third {
    background-color: #E7FCF1;
}

.plan__price--first {
    color: #007EF5;
}

.plan__price--second {
    color: #FDAD5F;
}

.plan__price--third {
    color: #00D362;
}