* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    --color-primary: #5DB2FF;
    --color--buttons: #37EBED;
    --color-nav: #2C2C2C;
    --color-font: #2C2C2F;

}